/Recipe.NetCore/obj
/Api/bin
/Api/obj
/.vs
/Api.Service/bin
/Api.Service/obj
/Api.Repository/bin
/Api.Repository/obj
/Api.Core/bin
/Api.Core/obj
/Api.Common/bin
/Api.Common/obj
/Recipe.NetCore/bin
/Api.Core/Api.Core.csproj.user
/Api/Api.csproj.user